body {
  margin: 1;
  min-height: 100vh;
  background: linear-gradient(to right, #f6f1d3, #e9ebc7, #d3e47a);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.card {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #f6f1d3, #e9ebc7, #d3e47a);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(202, 253, 15);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 9000px;
  width: 900%;
  flex-wrap: wrap;
  justify-content: space-between;


}

.text-section {
  flex: 1 1 300px;
  align-items: center;
  justify-content: center;
}

.section-title {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  color: #64748b;
  text-transform: uppercase;
  text-align: left;
}


.main-heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: #363b1e;
  margin-top: 0rem;  /* ✅ Pulls it closer to section-title */
  margin-bottom: 2rem;/*space between main-heading and login-button */
  text-align: left;
  
  
}

.login-button {
  background-color: #a3e635;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.login-button:hover {
  background-color: #84cc16;
}

.note-image {
  max-width: 210px;           /* Smaller image */
  border-radius: 1.5rem;      /* Smooth curved edges */
  box-shadow: 0 4px 10px rgba(203, 231, 43, 0.1);
  margin-left: 9rem;
 
    
  


}


  
